{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" type="text/css" href="{% static '/static/css/base.css' %}">
    <title>GoodTaco</title>
</head>
<body>

    <header>
        <div class="navbar">
            <a href="#" class="logo"><img src="{% static 'static/images/GoodTaco.gif' %}" alt="GoodTaco logo with thumbs up" width="150px"></a>
            <ul class="links">
                <li><a href="#home">home</a></li>
                <li><a href="#about">about</a></li>
                <li><a href="#menu">menu</a></li>
                <li><a href="#contact">contact</a></li>
            </ul>
            <a href="#" class="action-btn">book a table</a>
            <div class="toggle-btn">
                <i class="fas fa-bars fa-lg"></i>
                <div class="dropdown">
                    <li><a href="#home">home</a></li>
                    <li><a href="#about">about</a></li>
                    <li><a href="#menu">menu</a></li>
                    <li><a href="#contact">contact</a></li>
                    <li><a href="{% url 'make_reservation' %}">book a table</a></li>
                </div>
            </div>
        </div>
    </header>
    <main>

        <section class="home" id="home">
            <span class="home-main">GoodTaco</span>
            <span class="home-second">Tacos  || Cocktails || Events || Music</span>
            <span class="home-third">Open 12:00pm - Late Seven Days a Week</span>
            <a href="{% url 'make_reservation' %}" class="home-book">Book Now</a>
        </section>

        <!--about us section-->
        <section class="about-us" id="about">
            <div class="about-container">
                <span>
                    <img class="about-img" src="{% static '/static/images/image4.jpg' %}" alt="hand holding taco">
                </span>
                <span class="about-text">
                    <h1>About Us</h1>
                    <p> Established in 2019, GoodTaco is the place to go for all things
                        Tacos & Cocktails. A multi level venue meters from the beach makes it a tourist 
                        must. Our large function space upstairs provides private dining or exclusive hire
                        for birthdays or private functions.
                    </p>
                    <a class="contact-btn" href="#">Contact Us</a>
                </span>
            </div>
        </section>

        <!-- menu section -->
        <h1 class="menu-head">menu</h1>
        <section class="menu" id="menu">
            <table>
                <tr>
                    <td class="table-head">food</td>
                </tr>
                <tr>
                    <td>Taco Pastor......$4.50</td>
                </tr>
                <tr>
                    <td>Taco Carnitas......$4.50</td>
                </tr>
                <tr>
                    <td>Taco Barbacoa....$4.50</td>
                </tr>
                <tr>
                    <td>Taco Pescado......$4.50</td>
                </tr>
                <tr>
                    <td>Taco Vegetales....$4.50</td>
                </tr>
                <tr>
                    <td>Taco Camarone..$4.50</td>
                </tr>
                <tr>
                    <td>Taco Lengua......$4.50</td>
                </tr>
                <tr>
                    <td>Taco Nopalitos......$4.50</td>
                </tr>
            </table>
            <table>
                <tr>
                    <td class="table-head">drinks</td>
                  </tr>
                  <tr>
                    <td>Margarita......$7.50</td>
                  </tr>
                  <tr>
                    <td>Paloma......$7.50</td>
                  </tr>
                  <tr>
                    <td>Mojito.......$7.50</td>
                  </tr>
                  <tr>
                    <td>Michelada......$7.50</td>
                  </tr>
                  <tr>
                    <td>Mexican Mule...$7.50</td>
                  </tr>
                  <tr>
                    <td>Piña Colada......$7.50</td>
                </tr>
                <tr>
                    <td>Tequila Sunrise...$7.50</td>
                </tr>
                <tr>
                    <td>Cerveza.....$5.50</td>
                </tr>
            </table>
         </section>

    
        
    </main>
    <footer>
        <!-- contact section -->
        <section class="contact" id="contact">
            <h1 class="contact-head">contact us</h1>
            <div class="contact-info">
                <ul>
                    <li><strong>Address:</strong> 123 Main Street, City, State ZIP</li>
                    <li><strong>Email:</strong> contact@example.com</li>
                    <li><strong>Phone:</strong> +1 (123) 456-7890</li>
                </ul>
            </div>
        </section>
    </footer>
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>