{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    <title>GoodTaco</title>
</head>
<body>

    <header>
        <div class="navbar">
            <a href="#" class="logo"><img src="static/images/GoodTaco.gif" alt="GoodTaco logo with thumbs up" width="150px"></a>
            <ul class="links">
                <li><a href="#">home</a></li>
                <li><a href="#">about</a></li>
                <li><a href="#">menu</a></li>
                <li><a href="#">contact</a></li>
            </ul>
            <a href="#" class="action-btn">book a table</a>
            <div class="toggle-btn">
                <i class="fas fa-bars fa-lg"></i>
            </div>
        </div>

        <div class="dropdown">
            <li><a href="#">home</a></li>
            <li><a href="#">about</a></li>
            <li><a href="#">menu</a></li>
            <li><a href="#">contact</a></li>
            <li><a href="#">book a table</a></li>
        </div>
    </header>
    <main>

        <section class="home">
            <span class="home-main">GoodTaco</span>
            <span class="home-second">Tacos  || Cocktails || Events || Music</span>
            <span class="home-third">Open 12:00pm - Late Seven Days a Week</span>
            <a href="#" class="home-book">Book Now</a>
        </section>

        <!--about us section-->
        <section class="about-us">
            <div class="about-container">
                <span>
                    <img class="about-img" src="/static/images/image4.jpg" alt="hand holding taco">
                </span>
                <span class="about-text">
                    <h1>About Us</h1>
                    <p> Established in 2019, GoodTaco is the place to go for all things
                        Tacos & Cocktails. A multi level venue meters from the beach makes it a tourist 
                        must. Our large function space upstairs provides private dining or exclusive hire
                        for birthdays or private functions.
                    </p>
                    <a class="contact-btn" href="#">Contact Us</a>
                </span>
            </div>
        </section>

        <!-- menu section -->
        <h1 class="menu-head">menu</h1>
        <section class="menu">
            <table>
                <tr>
                    <td>cell1_1</td>
                </tr>
                <tr>
                    <td>cell1_2</td>
                </tr>
                <tr>
                    <td>cell1_3</td>
                </tr>
                <tr>
                    <td>cell1_4</td>
                </tr>
                <tr>
                    <td>cell1_5</td>
                </tr>
                <tr>
                    <td>cell1_6</td>
                </tr>
            </table>
            <table>
                <tr>
                    <td>cell1_1</td>
                  </tr>
                  <tr>
                    <td>cell1_2</td>
                  </tr>
                  <tr>
                    <td>cell1_3</td>
                  </tr>
                  <tr>
                    <td>cell1_4</td>
                  </tr>
                  <tr>
                    <td>cell1_5</td>
                  </tr>
                  <tr>
                    <td>cell1_6</td>
                  </tr>
            </table>
         </section>
        
        
    </main>
    <footer>
        <!-- footer content here -->
    </footer>
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>